.btn{
    background-color: #ff6620;
    font-size: 2rem;
    color: #f0f8ff;
    border: none;
    padding: 1% 10% 1% 10%;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: #df6127;
}
