.button {
    width: 120px;
    height: 45px;
    margin: 20px 5px 0;
    background-color: #f85601;
    color: white;
    text-align: center;
    border: none;
    border-radius: 25px;
  }
  
  .button-size {
    width:330px;
    height: 60px;
    margin: 5px 20px 5px 30px;
  
  }