.nav_tabs{
    width: 30vw;
    background-color: #ff6620;
    position: relative;
    border-radius: 30px;
}

.tab-content{
    background-color: #fff;
    display: none;
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;	
    border-radius: 0px 0px 20px 20px;
}

.nav_tabs ul{
    list-style: none;
}

.nav_tabs ul li{
    float: left;
    width: 60%;
}

.nav_tabs ul li:first-child{
    width: 40%;
}

.tab-content section{
	padding: 10px;
	color: #555;
}

.input_tab { 
	display:none;
	position: absolute;
}

.input_tab:checked ~ label { 
	background-color: #ffffff;
    color:#ff6620;
}

.input_tab:checked ~ .tab-content{
	display: block;
}

.tab_label{
    display: block;
    width: 100%;
    background-color: #ff6620;
    padding: 15px;
    padding-bottom: 5px;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
    text-align: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
}

@media (orientation: portrait) { 
    .nav_tabs{
        width: 70vw;
    }
}