.back-form {
    /* background-image: url(../../images/fundo.png); */
    background-repeat: no-repeat;
    position: relative;
  
    background-position: left;
    background-size: 65%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
   

    
    }


